
project1/data/.ipynb_checkpoints/

project1/Notebooks/.ipynb_checkpoints/

.idea/

project3_ra214129_ra216179/search/search/__pycache__/

project3_ra214129_ra216179/notebooks/results/.ipynb_checkpoints/

project3_ra214129_ra216179/notebooks/.ipynb_checkpoints/RL-checkpoint.ipynb

project3_ra214129_ra216179/notebooks/.ipynb_checkpoints/
